#background{
  display: flex;
  background-color: #666;
  width: 600px;
  height: 600px;
}

#boxBox{
  width: 200px;
  height: 200px;
  background-color: #FFF;
}

#blueBox{
  width: 200px;
  height: 200px;
  background-color: #4885ed;
}

#blueButt{
  background-color:#3477eb;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
